/*
  Place styles specific to the homepage in here.
*/

video[poster]{
  height:100%;
  width:100%;
}

.intro {
  cursor: pointer;
  overflow: hidden;
}

.backmask {
  background-color: #000;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  object-position: 50%;
  background-size: cover;
  background-position: 50%;
  z-index: -1;
}

.home-play-btn {
  position: absolute;
  width: 100%;
  margin: 0;
  left: auto;
  @include breakpoint(xl){
    width: $grid-max-width;
    margin-left: 50%;
    left: -$grid-max-width / 2;
  }
  .play-reel {
    color: $color-primary;
    bottom: $base-spacing * 3;
    position: absolute;
    width: 190px;
    @include breakpoint(md){
      width: 280px;
      bottom: $base-spacing * 2;
    }
    h2 {
      display: inline-block;
    }
    img {
      height: 30px;
      width: 30px;
      position: absolute;
      right: 0;
      display: inline-block;
      @include breakpoint(md){
        height: 50px;
        width: 50px;
        opacity: 0;
        transform: translateX(-10px);
        transition: opacity, transform 0.2s ease-out;
      }
    }
  }
  .play-reel.active {
    img {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

.video-intro {
  display: none;
  opacity: 1;
  transition: opacity 0.2s ease-out;
  @include breakpoint(md){
    display: block;
  }
}

.mobile-intro {
  display: block;
  opacity: 1;
  transition: opacity 0.2s ease-out;
  @include breakpoint(md){
    display: none;
  }
}

#hero-reel {
  transform: translate(0px, 50px);
  opacity: 0;
  transition: transform, opacity, .6s ease-out;
  visibility: hidden;
  video {
    width: 100%;
    height: auto;
  }
}

.intro.active-reel {
  cursor: auto;
  .play-reel, .mobile-intro, .video-intro {
    opacity: 0;
  }
  #hero-reel {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
  }
}

.slider-review {
  opacity: 0;
  animation: fade-in 500ms ease forwards;
  animation-delay: 500ms;
}
