/*
  Place styles specific to the homepage in here.
*/
.home-page {
  .main-content {
    background: black;
  }
  #work {
    margin-top: 1px;
  }
}

.site-intro{
  .up-and-in {
    transform: translateY(24px);
  }
  p > a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.underscore {
  padding-left: 48px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 36px;
    height: 2px;
    background: black;
    left: 0;
    top: 50%;
  }
}
.case-study-container {

}
.text-img-module {
  padding: 60px 0 100px;
  @include breakpoint(md){
    padding: 60px 0 240px;
  }
  h2 {
    margin-bottom: $base-spacing / 2;
    @include breakpoint(md){
      margin-bottom: $base-spacing;
    }
  }
  a {
    display: block;
  }
  a {
    text-decoration: none;
  }
  a.mobile-cta {
    background: black;
    color: white;
    padding: 6px 14px;
    display: inline-block;
    @include breakpoint(md){
      display: none;
    }
  }
}

.client {
  position: absolute;
  top: -36px;
  z-index: 2;
  @include breakpoint(sm){
    top: -50px;
  }
  @include breakpoint(md){
    top: -56px;
  }
}

.left-img .client {
  left: 13px;
  @include breakpoint(md){
    left: auto;
    right: 48px;
  }
}

.right-img .client {
  left: 13px;
  @include breakpoint(md){
    left: 48px;
  }

}
