/*
  Place styles specific to the Portfolio Page in here.
*/
.work-page {
  #case-study {
    padding-top: $base-spacing * 5;
  }
  .work-module {
    padding-bottom: $base-spacing * 6;
    @include breakpoint(md){
      padding-bottom: $base-spacing * 14;
    }
  }
  .hamburger {
    z-index: 8
  }
  .primary-video {
    z-index: 9;
  }
  .site-title {
    display: none;
  }
}

.next-project-module {
  padding-bottom: $base-spacing * 4;
  padding-top: $base-spacing * 2;
  a {
    &:hover {
      text-decoration: none;
      .underscore:before {
        animation: underscore .7s 2 ease-out forwards;
      }
    }
  }
  .h1 {
    line-height: .9;
  }
}

.full-bleed-container {
  overflow: hidden;
  background: #000;
  .full-bleed-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
  }
}

ul.credits {
  padding: 0;
  li {
    width: 100%;
    position: relative;
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
    span.name {
      padding-left: 10px;
    }
  }
}

.two-col {
  column-count: 1;
  @include breakpoint(md){
    column-count: 2;
  }
}

.portfolio-video-container {
  cursor: pointer;
  position: relative;
  &.paused {
    &:after {
      content:'paused';
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -90px;
      margin-top: -37px;
      height: 74px;
      width: 180px;
      z-index: 10;
      @extend .h2;
      background: white;
      text-align: center;
      padding: 14px;
      @include breakpoint(sm){
          height: 94px;
          width: 240px;
          margin-left: -120px;
          margin-top: -47px;
      }
    }
  }
  &.ended {
    &:after {
      content:'replay';
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -90px;
      margin-top: -37px;
      height: 74px;
      width: 180px;
      z-index: 10;
      @extend .h2;
      background: white;
      text-align: center;
      padding: 14px;
      @include breakpoint(sm){
        height: 94px;
        width: 240px;
        margin-left: -120px;
        margin-top: -47px;
      }
    }
  }
}

button {
  border: none;
  background: none;
  @extend .p;
  border: none;
  outline: none;
  &:focus {
    border: none;
    outline: none;
  }
  &.cpy-clip {
    position: relative;
    .share-icon svg {
      height: 40px;
      width: auto;
      position: relative;
      top: 7px;
      padding-right: 15px;
    }
    .text {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0px;
        z-index: -1;
        height: 2px;
        background: #000;
        width: 0;
        transition: width .4s;
      }
      .shared {
        display: none;
      }
    }
    &:hover {
      .text:before {
        width: 100%;
      }
    }
    &.copied {
      .text {
        .shared {
          display: inline;
        }
        .share {
          display: none;
        }
      }
    }
  }
}
