/*
  Footer styles
*/


footer {
  .word-mark {
    svg {
      height: 30px;
      width: 189px;
    }
  }
  a, a p {
    margin-bottom: 30px;
    color: $color-gray;
    display: block;;
    width: 100%;
    @include breakpoint(sm) {
      display: inline-block;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    margin-bottom: 30px;
    color: $color-gray;
    display: block;;
    width: 100%;
    @include breakpoint(sm) {
      display: inline-block;
    }    
  }
}
