/*
  Header styles
*/

.gradient-img {
  display: none;
}

.activeNav {
  .site-title {
    z-index: 1;
  }
}
.site-title {
  position: absolute;
  mix-blend-mode: difference;
  color: white;
  top: 64px;
  left: 8.33333%;
  z-index: 3;
  &:hover {
    text-decoration: none;
  }
}
a.hamburger {
  position: fixed;
  top: 72px;
  right: 8.33333%;
  width: 32px;
  height: 10px;
  z-index: 999;
  margin-right: 13px;
  .line {
    height: 2px;
    width: 100%;
    background: black;
    position: absolute;
    left: 0;
    top: 0;
    transition: all, .2s;
  }
  .line-2 {
    top: 8px;
  }
}

.work-page {
  a.hamburger {
    .line {
      width: 0;
    }
  }
  a.hamburger.on {
    .line {
      width: 100%;
    }
  }
}

.activeNav {
  a.hamburger {
    .line-1 {
      transform: rotate(45deg);
      top: 4px;
    }
    .line-2 {
      transform: rotate(-45deg);
      top: 4px;
    }
  }
}
